<div class="flash-box">
</div>

  <div class='side_bar'>
      <div class='header'>
        <h1 class='header__element'>
          muraoka masatoshi
        </h1>
        <ul class="header_list">
          <li class="list">
          </li>
          <li class='list'>
          </li>
        </ul>
      </div>

     <div class='groups'>
        <div class='group'>
          <div class='group__name'>
            masatoshi chat
          </div>
          <div class='group__message'>
            hello
          </div>
        </div>

        <div class='group'>
          <div class='group__name'>
              masatoshi group
          </div>
          <div class='group__message'>
            good morning
          </div>
        </div>
      </div>
 </div>

  <div class='content'>
      <div class='upper'>
        <div class='team'>
          <div class='team__name'>
            masatoshi chat
           </div>
          <div class='team__member'>
            MEMBER: masatoshi, yutaka
          </div>
        </div>

        <div class='edit'>
          <div class='edit__button'>
            Edit
          </div>
        </div>
      </div> 

      <div class='chats'>
        <div class='chat'>
          <div class='chat__name'>
            yutaka
          </div>
          <div class='chat__message'>
            お久しぶり
          </div>
        </div>

        <div class='chat'>
          <div class='chat__name'>
            masatoshi
          </div>
          <div class='chat__message'>
            どうも
          </div>
         </div>
      </div>

      <div class='form'>
        <form>
          <input class='form__message'>
          <div class='form__mask'>
            <label class='form__mask__image'>
              <input class='hidden'>
            </label>
          </div>
          <button class='form__button'>SEND</button>
        </form>
      </div>
    </div>
  </body>
</html>




