.content {
  position: absolute;
    left: 300px;
    top: 0;
    right: 0px;
    bottom: 0px;
  .upper {
    height: 100px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
    .team {
      margin-right: 40px;
      &__name {
        font-size: 20px;
        margin-top: 35px;
      }
      &__member{
        font-size: 12px;
        margin-top: 15px;
      }
    }
  }
}