.side_bar {
  float: left;
  width: 300px;
  color: #fff;

  .header {
    height: 100px;
    display: flex;
    background-color: #253141;
    padding: 0 20px;
    aline-items: center;
    &__element{
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      width: 100%;
    }
    &__lists{
      display: flex;
      background-color: red;

      .list {
        margin-left: 0.3rem;
        backgroud-color:yellow;
      }
      .side_bar a {
        color: white;
        ackground-color: red;
      }

      .far {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
      }
    }
  }

  .groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px );
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }

}
