* {
  box-sizing: border-box;
}

head {
  display: none;
}

html {
  color: #000;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.flash-box{
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.chat-side {
  width: 300px;
  color: white;
  float: left;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.side-header_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}

.chat-side a {
  color: white;
}

.group {
  margin-bottom: 40px;
}

.group_group-name {
  font-size: 15px;
  margin-bottom: 5px;
}

.group_latest-message {
  font-size: 11px;
}